
.button_flat {
  padding: 0px;
  min-width: 20px;
  vertical-align: top;
  text-align: center;
  user-select: none;
  background-color: unset;
  display: inline-block;

  margin: 0px;


  border: 0px;
}

.button_flat:hover{
  background-color: var(--primary-1-background-hover);
}


.button_flat:active{
  background-color: var(--primary-1-background-active);
}

