.VpwMessageWindow .Window_Titlearea
{
  padding-right: 12px;
  white-space: nowrap;
  font-weight: bold;

  min-width: 200px;
}

.VpwMessageWindow.Error {
  background-color: var(--message-error-background);
  color: var(--message-error-foreground);
}

.VpwMessageWindow.Error .Window_Titlearea::before {
  content: "🧐 ";
}

.VpwMessageWindow.Warning
{
  background-color:var(--message-warning-background);
  color: var(--message-warning-foreground);
}

.VpwMessageWindow.Warning .Window_Titlearea::before {
  content: "🤔 ";
}

.VpwMessageWindow.Info
{
  background-color: var(--message-info-background);
  color: var(--message-info-foreground);
}
.VpwMessageWindow.Info .Window_Titlearea::before {
  content: "🤫 ";
}


.VpwMessageWindow .Window_Clientarea
{
  padding-top:    7px;
  padding-bottom: 7px;
  padding-left:  12px;
  padding-right: 12px;
}
