.Window_Clientarea_BlocksArea{
  background-color: rgba(187, 187, 187, 0.082);
  padding:2px;
}

.Window_Clientarea_OpenDeclarationBlock{
  /*border-style: solid;
  border-width: 1px;
  border-color: grey white white grey;*/
  font-family: monospace;

  white-space: nowrap;

  padding-top:7px;
  padding-bottom:7px;
  padding-left:10px;
  padding-right:10px;
  margin: 3px;

  background: linear-gradient(180deg, #e5e5e5 0%, #dAdAdA 100%);
  border-radius: 3px;

  user-select: none;

}

.Window_Clientarea_OpenDeclarationBlock:hover{
  background: linear-gradient(180deg, #eAeAeA 0%, #dFdFdF 100%);
}

.Window_Clientarea_OpenDeclarationBlock:active{
  background:  #cfcfcf;
}


.viewEntityRepr_OutlineKindIndicator {
  color: blue;
  font-size: 80%;
  position:relative;
  top: -1px;
  left: -1.5px;
  display: inline-block;
  border-right: 1px solid black;
  padding-right: 2px;
  margin-right: 1px;
  /*border-radius: 10px;
  min-width: 5px;
  margin-right: 2px;

  padding-left:4px;
  box-shadow: 0px 0px 1px black;*/
}